// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
table {
  border: 2px solid;
  margin-bottom: 10px;
}
tr,th,td {
  border: 1px solid; 
  padding: 5px;
}
div.highlight {
  table,tr,td {
    border: none;
  } 
}
body > header {
  text-align: center;
}
span.date-suffix {
  top: -.4em;
  position: relative;
}

